.login-picture {
  content: url("/custom-assets/logo-login-page.png");
}

.logo-header img {
  content: url("/custom-assets/logo-dashboard.png");
}

.container-fluid ul li:last-child {
  display: none;
}

footer,
footer .aside-footer {
  height: 34px;
}